# Ignore bundler config.
/.bundle

config/secrets.yml
config.database.yml
config/application.yml
app.yaml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/coverage/*
/tmp/*
/vendor/.keep
!/log/.keep
!/tmp/.keep
/bin/*
/lib/*
/public/uploads/*

/node_modules
/yarn-error.log

.byebug_history
/public/packs
/public/assets
/node_modules

.jshintrc
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
