<section class="section">
  <div class="container">
    <div class="column is-6 is-offset-3">

      <article class="message is-warning">
        <div class="message-body">
          <h1>Community store submission</h1>
          <p>Please locate your store with the google search below. The store will be available to use shortly after being approved. Users with a history of valid suggestions will gain the ability to submit directly to Grocery Guru.</p>
        </div>
      </article>

      <%= form_for community_create_store_path do %>
        <input id="pac-input" class="controls input" type="text" placeholder="Search Box">
        <div class="section captcha-submit">
          <div class="g-recaptcha" data-sitekey="<%= Rails.application.secrets.RECAPTCHA_SITE_KEY %>" data-callback="showInput"></div>
          <button class="button is-large is-success is-hidden" type="submit">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
  function initAutocomplete() {
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);

    searchBox.addListener('places_changed', function() {
      showInput();
    });

    $('#pac-input').keydown(function(e) {
      if (event.keyCode == 13) {
        e.preventDefault();
      }
    })
  }

  function showInput() {
    if (($('#pac-input').val() !== '') && (grecaptcha.getResponse() !== '')) {
      $('.captcha-submit').find('button').removeClass('is-hidden');
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initAutocomplete"
     async defer></script>

<script src='https://www.google.com/recaptcha/api.js'></script>
