<aside class="menu admin-nav">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <%= active_link_to 'Dashboard', admin_path, active: :exclusive, wrap_tag: :li %>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a href="">Stores</a></li>
    <li><a href="">Items</a></li>
  </ul>
</aside>