<% content_for :body_class, 'error-404' %>

<section class="section">
  <div class="container">
    <div class="content column is-8 is-offset-2">
      <img src="<%= image_path("sad-receipt") %>" width="350" height="350" class="sad-receipt">
      <h1 class="title is-1 has-text-centered has-text-danger">Receipt not found!</h1> 
    </div>
  </div>
</section>