body.stores.new_submission {
  .captcha-submit {
    display: flex;
    justify-content: space-between;

    button {
      margin: auto;
    }
  }
}

body.items.new_submission {
  input {
    float: left;
    width: 40%;
    margin: 0 2.5%;
  }

  .captcha-submit {
    display: flex;
    justify-content: space-between;

    button {
      margin: auto;
    }
  }
}