body.community.new_store_submission {
  .captcha-submit {
    display: flex;
    justify-content: space-between;

    button {
      margin: auto;
    }
  }
}

body.community.new_item_submission {
  .captcha-submit {
    display: flex;
    justify-content: space-between;

    button {
      margin: auto;
    }
  }
}