body.admin, body.stores, body.items {
  hr {
    margin: 0;
  }

  .columns {
    margin-top: 0;
  }

  .content-area {
    padding: 48px 48px 48px 24px;

    .notification {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      padding: 24px;
    }

    .no-submission-alert {
      display: block;

      i {
        font-size: 72px;
      }
    }

    .admin-data-table {
      margin: 24px auto 0;
      width: 100%;

      .item-name-input {
        width: 50%;
      }

      .long-list-anchor {
        position: relative;
        top: -240px;
        visibility: hidden;
      }
    }
  }
}