body.admin.index, body.stores.index, body.items.index, body.stores.submissions, body.items.submissions {
  hr {
    margin: 0;
  }

  .columns {
    margin-top: 0;
  }

  .content-area {
    padding: 48px 48px 48px 24px;

    .notification {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      padding: 24px;
    }

    .admin-data-table {
      margin: 24px auto 0;

      .long-list-anchor {
        position: relative;
        top: -240px;
        visibility: hidden;
      }
    }
  }
}