@import 'groceryguru_variables';

aside.admin-nav {
  border-right: 1px solid #dbdbdb;
  padding: 24px;

  i.material-icons {
    vertical-align: bottom;
    line-height: 18px;
  }

  li.active {
    a {
      background-color: $primary;
      color: #fff;
    }
  }
}