<section class="section">
  <div class="container">
    <div class="column is-6 is-offset-3">

      <article class="message is-info">
        <div class="message-header">
          Community store submission
        </div>
        <div class="message-body">
          <p>Please locate your store with the google search below. The store will be available to use shortly after being approved. Users with a history of valid suggestions will gain the ability to submit directly to Grocery Guru.</p>
        </div>
      </article>

      <%= form_for community_create_store_path do %>
        <input id="autocomplete_store_input" class="controls input" name="submission[value]" type="text" placeholder="Search for your store...">
        <div class="section captcha-submit">
          <div class="g-recaptcha" data-sitekey="<%= Rails.application.secrets.RECAPTCHA_SITE_KEY %>" data-callback="showInput"></div>
          <button disabled=true class="button is-large is-success" type="submit">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</section>


<script>
  // Necessary due to google callbacks not working well with the backbone pages
  // Creating pass-through functions resulted in inconsistent page states
  function showInput() {
    if ($('#autocomplete_store_input').val() !== '' && grecaptcha.getResponse() !== '') {
      $('.captcha-submit').find('button').prop("disabled", false);
    } else {
      $('.captcha-submit').find('button').prop("disabled", true);
    }
  }

  function initAutocomplete() {
    var input = document.getElementById('autocomplete_store_input');
    var searchBox = new google.maps.places.SearchBox(input);

    searchBox.addListener('places_changed', function() {
      showInput();
      var formattedAddress = this.getPlaces()[0].formatted_address;
      var name = this.getPlaces()[0].name;
      $('#autocomplete_store_input').val(name + ' - ' + formattedAddress);
    });

    $('#pacinput').keydown(function(e) {
      showInput();
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initAutocomplete"
     async defer></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
