@import 'groceryguru_variables';

body.stats.index {
  .transactions-list-button-container {
    background-color: $yellow;
    &.is-worst { background-color: $red; }
    &.is-best { background-color: $green; }
  }

  .stats-search-bar {
    width: 100%;
    height: 68px;
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 36px;
  }

  .toggle-transaction-group {
    width: 100%;
    justify-content: space-between;

    .field:first-child {
      margin: 0 12px 0 0;
      overflow: hidden;

      .item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        font-size: 36px;
        margin-left: -8px;
      }
    }
  }

  .toggle-card-button {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .field {
      margin-bottom: 0.75rem;

      &:last-child {
        margin-left: 8px;
        overflow: hidden;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    i {
      font-size: 36px;
      margin-left: -8px;
    }
  }

  .chart-container {
    margin: 0 auto;
    width: 50%;

    @media screen and (max-width: 1069px) {
      width: 100%;
    }
  }

  .transactions-list {
    border-left: 5px solid $yellow;
    border-radius: 5px;
    padding-left: 24px;
    margin-bottom: 24px;
    &.worst-transactions-list { border-color: $red; }
    &.best-transactions-list { border-color: $green; }

    .item-card {
      background-color: $yellow;
      &.is-worst { background-color: $red; }
      &.is-best { background-color: $green }

      .data-container {
        margin: 24px 0 12px;
      }

      .transaction-list {
        display: flex;
        flex-direction: column;
      }

      tbody {
        tr { background-color: $yellow; }
        tr.is-worst { background-color: $red; }
        tr.is-best { background-color: $green; }
      }
    }
  }
}
