@import 'groceryguru_variables';

body.stats.index {
  .transactions-list-button-container {
    background-color: $yellow;

    &.is-worst {
      background-color: $red;
    }

    &.is-best {
      background-color: $green
    }
  }

  button {
    width: 100%;
    justify-content: space-between;

    .field:first-child {
      margin: 0 12px 0 0;
      overflow: hidden;

      .item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        font-size: 36px;
        margin-left: -8px;
      }
    }
  }

  .transactions-list {
    border-left: 5px solid $yellow;
    border-radius: 5px;
    padding-left: 24px;
    margin-bottom: 24px;

    &.worst-transactions-list {
      border-color: $red;
    }

    &.best-transactions-list {
      border-color: $green;
    }

    .item-card {
      background-color: $yellow;

      &.is-worst {
        background-color: $red;
      }

      &.is-best {
        background-color: $green
      }

      .transaction-list {

        .transaction-summary {
          margin: 24px 0;

          h2 {
            float: right;
            font-size: 26px;
            line-height: 58px;
            font-weight: bold;
            margin: 0;
            color: white;
          }

          i {
            font-size: 58px;
            color: white;
          }
        }
      }

      tbody {
        tr {
          background-color: $yellow;
        }

        tr.is-worst {
          background-color: $red;
        }

        tr.is-best {
          background-color: $green;
        }
      }
    }
  }


}