body.receipts.index {
  table {
    width: 100%;
    font-size: 18px;

    thead tr:hover {
      background-color: white;
    }

    tr.receipt-row {
      cursor: pointer;
      height: 48px;
      line-height: 48px;

      td {
        white-space: nowrap;

        a:hover {
          color: #567C65;
        }

        .progress-label {
          color: white;
          line-height: 0;
          font-size: 16px;
          text-align: center;
          font-weight: bold;
          position: relative;
          top: 1.5em;
        }

        .progress {
          height: 24px;
          margin: 12px 0;
        }
      }
    }
  }
}