@import 'groceryguru_variables';

body.receipts.show {
  .title {
    .store-title-span, .date-title-span {
      padding: 4px 6px;

      &:hover {
        cursor: pointer;
        box-shadow:0px 0px 0px 2px $primary inset;
        border-radius: 4px;
      }
    }

    .store-date-form {
      display: inline;

      input.date-input, input.store-input {
        width: 200px;
      }

      .awesomplete {
        ul {
          width: 500px;
          li {

          }
        }
      }
    }

    .submit-new-store-button {
      line-height: 18px;
      margin-left: 4px;
      vertical-align: bottom;
    }
  }

  .delete-loader, .delete-loader:before, .delete-loader:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.7s infinite ease-in-out;
    animation: load7 1.7s infinite ease-in-out;
  }
  .delete-loader {
    color: #18587A;
    margin-right: 56px;
    position: relative;
    margin-top: -48px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .delete-loader:before, .delete-loader:after {
    content: '';
    position: absolute;
    top: 0;
  }

  .delete-loader:before {
    left: -24px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .delete-loader:after {
    left: 24px;
  }

  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }


  .progress-label {
    top: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: center;
    position: relative;
    color: white;
  }

  div.transaction-table {
    width: 100%;
    display: table;

    div.table-row, form.table-row {
      display: table-row;
    }

    div.table-cell {
      display: table-cell;
      padding: 4px;

      &.data.name {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.active {
          overflow: visible;
        }
      }

      .awesomplete {
        display: inline-flex;
      }

      .submit-new-item-button {
        padding: 0 4px;

        i {
          font-size: 20px;
          line-height: 14px;
          vertical-align: bottom;
        }
      }

      a i {
        font-size: 24px;
        vertical-align: middle;
      }
    }

    div.table-header {
      font-weight: bold;

      div {
        border-bottom: 1px solid $blue;
      }
    }

    div.data:hover {
      box-shadow:0px 0px 0px 2px $primary inset;
      border-radius: 4px;
      cursor: pointer;
    }

    form.incomplete {
      background-color: $yellow;

      div.missing {
        background-color: $red;
      }
    }

    a.delete {
      vertical-align: middle;
    }

    div.raw-cell {
      font-family: 'consolas';

      div.raw {
        padding: 2px 8px;
        background-color: #ccc;
        white-space: pre-wrap;
      }
    }
  }

  // RAW LINE NUMBERS
  pre {
    counter-reset: line;
    font-size: 18px;
    line-height: 0;
    overflow: hidden;
    padding: 18px;
    background-color: #ccc;

    span {
      display: block;
      height: 26px;
      line-height: 28px;

      &.focused {
        background-color: $yellow;
      }

      &:before {
        border-right: 3px solid $primary;
        color: $primary;
        content: counter(line);
        counter-increment: line;
        display: inline-block;
        margin-right: 12px;
        padding-left: 8px;
        width: 40px;
      }
    }
  }
}