@import 'groceryguru_variables';

@font-face {
  font-family: "Myriad Pro Regular" !important;
  src: url ('/assets/Myriad Pro Regular') !important;
}

body,
button,
input,
select,
textarea {
  font-family: "Myriad Pro Regular", "sansserif", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section {
  display: block !important;
}

body.application.index {
  height: 100vh;
  display: flex;
  flex-direction: column;

  section.hero.is-info {
    background-color: $blue;
  }
}

.notification {
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  top: -100%;
  text-align: center;
  right: 35%;
  left: 35%;
  transition: top 1.5s;

  &.show {
    top: 0;
    transition: top 1.5s;
  }
 }

.modal-card {
  .modal-card-body {
    overflow: hidden;
    padding: 0;
  }

  .modal-card-head {
    i {
      vertical-align: bottom;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.receipt-preview {
  display: block;
  margin: 0 auto;
  max-height: 500px;
  max-width: 100%;
}

.receipt-upload-button {
  display: flex;
  height: 240px !important;
  justify-content: center;

  span.file-icon {
    i {
      font-size: 48px;
      margin-bottom: 16px;
    }
  }
}

progress {
  &.progress::-moz-progress-bar {
    background-color: $red;
  }
  &.progress::-webkit-progress-bar {
    background-color: $red;
  }
}

.loading-title {
  text-align: center;
}

// LOADING ANIMATION
.sk-cube-grid {
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.sk-cube-grid .sk-cube {
  width: 33.3333333%;
  height: 33.3333333%;
  background-color: #00d1b2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@media screen and (min-width: 1260px) {
  .container {
      max-width: 1344px;
      width: 1344px;
  }
}



@media screen and (min-width: 1068px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1068px) {
  .container {
    .content {
      margin: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 769px) {
  .navbar {
    position: fixed;
    z-index: 30;
    right: 0;
  }

  label.file-label {
    width: 100%;
  }
}