p.alert, p.notice {
  background-color: #d65959;
  left: 30%;
  line-height: 28px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 40%;
  z-index: 1;
}

p.notice {
  background-color: #88d659;
}

.devise-links {
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  padding: 4px;
}