nav.navbar {
  .navbar-start {
    .navbar-item {
      i {
        margin-right: 6px;
        font-size: 36px;
      }
    }

    .navbar-item.active {
      background-color: #18587A;
      color: white;
    }
  }

  .admin-notification-count {
    margin-left: 8px;
  }
}