nav.navbar {
  .navbar-start {
    .navbar-item {
      i {
        margin-right: 6px;
        font-size: 36px;
      }
    }

    .navbar-item.active {
      background-color: #2186e0;
      color: white;

      .receipt-count-badge {
        background: white;
        color: black;
      }
    }
  }
}