<article class="message is-info">
  <div class="message-header">
    <p><strong>Confirm your email</strong></p>
  </div>
  <div class="content message-body">
    <p>Welcome <b><%= @email %></b>!</p>

    <p>You can confirm your account email through the link below:</p>

    <p class="has-text-centered"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'button is-success' %></p>
  </div>
  <div class="message-footer has-text-centered">
    <%= link_to 'Grocery Guru', root_url, class: 'has-text-light' %>
  </div>
</article>