<article class="message is-info">
  <div class="message-header">
    <p><strong>Reset your password</strong></p>
  </div>
  <div class="content message-body">
    <p>Hello <b><%= @resource.email %></b>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </div>
  <div class="message-footer has-text-centered">
    <%= link_to 'Grocery Guru', root_url, class: 'has-text-light' %>
  </div>
</div>
