<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Grocery Guru</strong> is a project by <a href="http://github.com/xhocquet">Xavier Hocquet</a>. 
    </div>
  </div>
</footer>