<section class="hero is-primary is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Grocery Guru
      </h1>
      <h2 class="subtitle">
        Shop smart.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-4 is-offset-4">
      <div class="file is-centered is-primary is-boxed">
        <label class="file-label">
          <%= form_for @receipt, html: { multipart: true }  do |f| %>
            <input class="file-input receipt-upload-input" type="file" name="receipt[image]">
          <% end %>
          <span class="file-cta receipt-upload-button">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Upload your receipt
            </span>
          </span>
        </label>
      </div>

      <div class="sk-cube-grid is-hidden">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
      <h2 class="title is-5 loading-title is-hidden">Your receipt is being processed, hang on!</h2>
    </div>
  </div>
</section>

<script type="text/javascript">
  var page = new RootPage();
</script>
