<section class="hero is-primary is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Grocery Guru
      </h1>
      <h2 class="subtitle">
        Shop smart.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-4 is-offset-4">
      <div class="file is-centered is-primary is-boxed file-container">
        <label class="file-label">
          <%= form_for @receipt, html: { multipart: true, class: 'create-receipt-form' }  do |f| %>
            <input class="file-input receipt-upload-input" type="file" name="receipt[image]">
            <input type="hidden" name="receipt[image_crop_x]" class="image_crop_x">
            <input type="hidden" name="receipt[image_crop_y]" class="image_crop_y">
            <input type="hidden" name="receipt[image_crop_w]" class="image_crop_w">
            <input type="hidden" name="receipt[image_crop_h]" class="image_crop_h">
          <% end %>
          <span class="file-cta receipt-upload-button">
            <span class="file-icon">
              <i class="material-icons">file_upload</i>
            </span>
            <span class="file-label">
              Upload your receipt
            </span>
          </span>
        </label>
      </div>

      <div class="sk-cube-grid is-hidden">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
      <h2 class="title is-5 loading-title is-hidden">Your receipt is being processed, hang on!</h2>
    </div>
  </div>
</section>

<div class="modal crop-modal">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Crop your image</p>
    </header>
    <section class="modal-card-body">
      <div class="sk-cube-grid is-hidden modal-loader">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
      <img id="image" class="receipt-preview" src="">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success save-crop-button">Save changes</button>
      <button class="button close-modal-button">Cancel</button>
    </footer>
  </div>
</div>

<script type="text/javascript">
  var page = new RootPage();
</script>
