<section class="hero is-info is-medium">
  <div class="hero-body">
    <h1 class="title highlight">G</h1><h1 class="title">rocery </h1><h1 class="title highlight">G</h1><h1 class="title">uru</h1><br>
    <i class="material-icons">shopping_basket</i>
 </div>
</section>

<section class="section">
  <div class="container">
    <article class="steps step-1">
      <i class="material-icons">file_upload</i>
      <h2>Upload your Receipts</h2>
      <p>Upload your receipt with our interactive tool to prep it for us! We use a combination of number crunching and machine learning to detect your purchases automagically!</p>
    </article>
    <article class="steps step-2">
      <i class="material-icons">text_format</i>
      <h2>Fill in the Blanks</h2>
      <p>Computers aren't perfect! We need your help to fill in the blanks. Once your receipts are filled out, you'll start maximizing Grocery Guru's usefulness.</p>
    </article>
    <article class="steps step-3">
      <i class="material-icons">remove_red_eye</i>
      <h2>Gain Insights</h2>
      <p>With your receipts, we track grocery prices and spending habits while you use us. We can suggest improvements to your spending in order to save you money!</p>
    </article>
  </div>
</section>

<% content_for :body_class, 'intro' %>
