<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <h1 class="title">My Receipts</h1>
      <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Receipt ID</th>
              <th>Receipt URL</th>
              <th>Receipt created</th>
            </tr>
          </thead>
          <tbody>
            <% @receipts.each_with_index do |receipt,index| %>
              <tr>
               <td><%= receipt.id %></td>
               <td><%= link_to "Goto", receipt_path(receipt) %></td>
               <td><%= receipt.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </h2>
    </div>
  </div>
</section>
