<section class="section">
  <div class="container">
    <div class="column is-6 is-offset-3">
      <h1 class="title">
        My Receipts
      </h1>
      <hr>
        <table class="table">
          <thead>
            <tr>
              <th>Store</th>
              <th>Date</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            <% @receipts.each_with_index do |receipt,index| %>
              <tr>
               <td><%= link_to receipt.store.try(:name).try(:titleize), receipt_path(receipt) %></td>
               <td><%= receipt.created_at.to_date.to_formatted_s(:long) %></td>
               <td><progress class="progress is-success" value="<%= completed_transactions_count(receipt) %>" max="<%= transactions_count(receipt) %>"></progress></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </h2>
    </div>
  </div>
</section>
