<% cache("user-#{current_user.id}-stats-view-#{current_user.last_stats_update.to_i}") do %>
  <section class="section">
    <div class="container">
      <div class="content column is-8 is-offset-2">
        <%= render 'transaction_container', transaction_group: 'worst-transactions' %>
        <%= render 'transaction_container', transaction_group: 'improvable-transactions' %>
        <%= render 'transaction_container', transaction_group: 'best-transactions' %>
      </div>
    </div>
  </section>
<% end %>

<script type="text/javascript">
  var page = new StatsPage();
</script>